body {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 400px;
  width: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__textarea {
  width: 330px;
  height: 80px;
  resize: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgb(168, 159, 228);
}
.form__button {
  width: 50px;
  height: 50px;
  display: block;
  margin: 15px 0 0 20px;
  border: 0.5px solid green;
  font-size: 25px;
  color: green;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
.form__button:hover, .form__button:active {
  background-color: green;
  color: white;
}

.list {
  list-style-type: none;
  width: 100%;
  height: 500px;
  border: 0.5px solid orange;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0 0 8px 0;
}
.message__author {
  display: block;
  margin: 0 10px 0 0;
}
.message__text {
  margin: 0;
  word-break: break-all;
}